<mat-card>
  <mat-card-content>
    <mat-form-field appearance="outline">
      <mat-label>{{ 'datePicker.chooseDate' | translate }}</mat-label>
      <input matInput [min]="this.minDate" [max]="this.maxDate" [matDatepicker]="datePicker" [formControl]="selectedDate"
             placeholder="{{ 'datePicker.formatHint' | translate }}" readonly required>
      <mat-datepicker-toggle matIconSuffix [for]="datePicker"></mat-datepicker-toggle>
      <mat-datepicker #datePicker disabled="false"></mat-datepicker>
    </mat-form-field>
  </mat-card-content>
</mat-card>

<mat-tab-group>
  <mat-tab label="{{ 'bible.daily' | translate }}">
    <div class="flex-container">
      <mat-card class="flex-element flex-element-left">
        <mat-card-content>
          <div *ngIf="this.biblePerDay?.firstStandardText?.isReady()" [innerHTML]="this.biblePerDay.firstStandardText.value">
          </div>
          <div *ngIf="!this.biblePerDay?.firstStandardText?.isReady()">
            <mat-spinner [diameter]="80"></mat-spinner>
          </div>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button (click)="copyToClipboard(this.biblePerDay.firstStandardText.value)">{{ 'bible.copy' | translate }}</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="flex-element flex-element-right">
        <mat-card-content>
          <div *ngIf="this.biblePerDay?.secondStandardText?.isReady()" [innerHTML]="this.biblePerDay.secondStandardText.value">
          </div>
          <div *ngIf="!this.biblePerDay?.secondStandardText?.isReady()">
            <mat-spinner [diameter]="80"></mat-spinner>
          </div>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button (click)="copyToClipboard(this.biblePerDay.secondStandardText.value)">{{ 'bible.copy' | translate }}</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <mat-card *ngIf="this.biblePerDay?.firstAdditionalText?.value">
      <mat-card-content>
        <div *ngIf="this.biblePerDay?.firstAdditionalText?.isReady()" [innerHTML]="this.biblePerDay.firstAdditionalText.value">
        </div>
        <div *ngIf="!this.biblePerDay?.firstAdditionalText?.isReady()">
          <mat-spinner [diameter]="80"></mat-spinner>
        </div>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button (click)="copyToClipboard(this.biblePerDay.firstAdditionalText.value)">{{ 'bible.copy' | translate }}</button>
      </mat-card-actions>
    </mat-card>

    <mat-card *ngIf="this.biblePerDay?.secondAdditionalText?.value">
      <mat-card-content>
        <div *ngIf="this.biblePerDay?.secondAdditionalText?.isReady()" [innerHTML]="this.biblePerDay.secondAdditionalText.value">
        </div>
        <div *ngIf="!this.biblePerDay?.secondAdditionalText?.isReady()">
          <mat-spinner [diameter]="80"></mat-spinner>
        </div>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button (click)="copyToClipboard(this.biblePerDay.secondAdditionalText.value)">{{ 'bible.copy' | translate }}</button>
      </mat-card-actions>
    </mat-card>

    <mat-card *ngIf="this.biblePerDay?.quoteNotFromBibleText?.value">
      <mat-card-content>
        <div *ngIf="this.biblePerDay?.quoteNotFromBibleText?.isReady()" [innerHTML]="this.biblePerDay.quoteNotFromBibleText.value">
        </div>
        <div *ngIf="!this.biblePerDay?.quoteNotFromBibleText?.isReady()">
          <mat-spinner [diameter]="80"></mat-spinner>
        </div>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button (click)="copyToClipboard(this.biblePerDay.quoteNotFromBibleText.value)">{{ 'bible.copy' | translate }}</button>
      </mat-card-actions>
    </mat-card>
  </mat-tab>

  <mat-tab label="{{ 'bible.occasion' | translate }}" *ngIf="this.biblePerDay?.specialOccasionContainer?.specialOccasionList">
    <mat-tab-group>
      <div *ngFor="let specialOccasion of this.biblePerDay?.specialOccasionContainer?.specialOccasionList">
        <mat-tab label="{{ 'bible.occasion' | translate }} {{ this.biblePerDay.specialOccasionContainer.specialOccasionList.indexOf(specialOccasion) + 1 }}">
          <mat-card *ngIf="this.specialOccasion?.title?.value">
            <mat-card-title>
              <h2><i>{{ specialOccasion?.title?.value }}</i></h2>
            </mat-card-title>
          </mat-card>
          <mat-card *ngIf="this.specialOccasion?.mainQuoteText?.value">
            <mat-card-title>
              <h2>{{ 'bible.mainQuote' | translate }}</h2>
            </mat-card-title>
            <mat-card-content>
              <div *ngIf="specialOccasion.mainQuoteText?.isReady()" [innerHTML]="specialOccasion.mainQuoteText.value">
              </div>
              <div *ngIf="!specialOccasion.mainQuoteText?.isReady()">
                <mat-spinner [diameter]="80"></mat-spinner>
              </div>
            </mat-card-content>
            <mat-card-actions align="end">
              <button mat-button (click)="copyToClipboard(specialOccasion.mainQuoteText.value)">{{ 'bible.copy' | translate }}</button>
            </mat-card-actions>
          </mat-card>
          <mat-card *ngIf="this.specialOccasion?.psalmText?.value">
            <mat-card-title>
              <h2>{{ 'bible.psalm' | translate }}</h2>
            </mat-card-title>
            <mat-card-content>
              <div *ngIf="specialOccasion.psalmText?.isReady()" [innerHTML]="specialOccasion.psalmText.value">
              </div>
              <div *ngIf="!specialOccasion.psalmText?.isReady()">
                <mat-spinner [diameter]="80"></mat-spinner>
              </div>
            </mat-card-content>
            <mat-card-actions align="end">
              <button mat-button (click)="copyToClipboard(specialOccasion.psalmText.value)">{{ 'bible.copy' | translate }}</button>
            </mat-card-actions>
          </mat-card>
          <mat-card *ngIf="this.specialOccasion?.worshipSongs?.value">
            <mat-card-title>
              <h2>{{ 'bible.worship' | translate }}</h2>
            </mat-card-title>
            <mat-card-content>
              <div *ngIf="specialOccasion.worshipSongs?.isReady()" [innerHTML]="specialOccasion.worshipSongs.value">
              </div>
              <div *ngIf="!specialOccasion.worshipSongs?.isReady()">
                <mat-spinner [diameter]="80"></mat-spinner>
              </div>
            </mat-card-content>
            <mat-card-actions align="end">
              <button mat-button (click)="copyToClipboard(specialOccasion.worshipSongs.value)">{{ 'bible.copy' | translate }}</button>
            </mat-card-actions>
          </mat-card>
          <mat-card *ngIf="this.specialOccasion?.apostolicLessonText?.value">
            <mat-card-title>
              <h2>{{ 'bible.apostolicLesson' | translate }}</h2>
            </mat-card-title>
            <mat-card-content>
              <div *ngIf="specialOccasion.apostolicLessonText?.isReady()" [innerHTML]="specialOccasion.apostolicLessonText.value">
              </div>
              <div *ngIf="!specialOccasion.apostolicLessonText?.isReady()">
                <mat-spinner [diameter]="80"></mat-spinner>
              </div>
            </mat-card-content>
            <mat-card-actions align="end">
              <button mat-button (click)="copyToClipboard(specialOccasion.apostolicLessonText.value)">{{ 'bible.copy' | translate }}</button>
            </mat-card-actions>
          </mat-card>
          <mat-card *ngIf="this.specialOccasion?.sermonTextListText?.value">
            <mat-card-title>
              <h2>{{ 'bible.sermonText' | translate }}</h2>
            </mat-card-title>
            <mat-card-content>
              <div *ngIf="specialOccasion.sermonTextListText?.isReady()" [innerHTML]="specialOccasion.sermonTextListText.value">
              </div>
              <div *ngIf="!specialOccasion.sermonTextListText?.isReady()">
                <mat-spinner [diameter]="80"></mat-spinner>
              </div>
            </mat-card-content>
            <mat-card-actions align="end">
              <button mat-button (click)="copyToClipboard(specialOccasion.sermonTextListText.value)">{{ 'bible.copy' | translate }}</button>
            </mat-card-actions>
          </mat-card>
          <mat-card *ngIf="this.specialOccasion?.oldTestamentText?.value">
            <mat-card-title>
              <h2>{{ 'bible.oldTestament' | translate }}</h2>
            </mat-card-title>
            <mat-card-content>
              <div *ngIf="specialOccasion.oldTestamentText?.isReady()" [innerHTML]="specialOccasion.oldTestamentText.value">
              </div>
              <div *ngIf="!specialOccasion.oldTestamentText?.isReady()">
                <mat-spinner [diameter]="80"></mat-spinner>
              </div>
            </mat-card-content>
            <mat-card-actions align="end">
              <button mat-button (click)="copyToClipboard(specialOccasion.oldTestamentText.value)">{{ 'bible.copy' | translate }}</button>
            </mat-card-actions>
          </mat-card>
          <mat-card *ngIf="this.specialOccasion?.gospelText?.value">
            <mat-card-title>
              <h2>{{ 'bible.gospel' | translate }}</h2>
            </mat-card-title>
            <mat-card-content>
              <div *ngIf="specialOccasion.gospelText?.isReady()" [innerHTML]="specialOccasion.gospelText.value">
              </div>
              <div *ngIf="!specialOccasion.gospelText?.isReady()">
                <mat-spinner [diameter]="80"></mat-spinner>
              </div>
            </mat-card-content>
            <mat-card-actions align="end">
              <button mat-button (click)="copyToClipboard(specialOccasion.gospelText.value)">{{ 'bible.copy' | translate }}</button>
            </mat-card-actions>
          </mat-card>
        </mat-tab>
      </div>
    </mat-tab-group>
  </mat-tab>

  <mat-tab label="{{ 'bible.contemplation' | translate }}" *ngIf="this.biblePerDay?.contemplationContainer?.contemplation">
    <mat-card *ngIf="this.biblePerDay?.contemplationContainer?.contemplation?.bibleText?.value">
      <mat-card-content>
        <div *ngIf="this.biblePerDay?.contemplationContainer?.contemplation?.bibleText?.isReady()" [innerHTML]="this.biblePerDay.contemplationContainer.contemplation.bibleText.value">
        </div>
        <div *ngIf="!this.biblePerDay?.contemplationContainer?.contemplation?.bibleText?.isReady()">
          <mat-spinner [diameter]="80"></mat-spinner>
        </div>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button (click)="copyToClipboard(this.biblePerDay.contemplationContainer.contemplation.bibleText.value)">{{ 'bible.copy' | translate }}</button>
      </mat-card-actions>
    </mat-card>

    <mat-card *ngIf="this.biblePerDay?.contemplationContainer?.contemplation?.text?.value">
      <mat-card-content>
        <div *ngIf="this.biblePerDay?.contemplationContainer?.contemplation?.text?.isReady()" [innerHTML]="this.biblePerDay.contemplationContainer.contemplation.text.value">
        </div>
        <div *ngIf="!this.biblePerDay?.contemplationContainer?.contemplation?.text?.isReady()">
          <mat-spinner [diameter]="80"></mat-spinner>
        </div>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button (click)="copyToClipboard(this.biblePerDay.contemplationContainer.contemplation.text.value)">{{ 'bible.copy' | translate }}</button>
      </mat-card-actions>
    </mat-card>
  </mat-tab>

</mat-tab-group>
