<mat-toolbar color="primary" class="navbar-shadow">

  <button mat-button routerLink="{{ rp.SEP + rp.HOME }}"><mat-icon>home</mat-icon> Angular starter</button>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>

  <!-- Full menu navbar -->
  <div class="full-menu">
    <!-- Add new link here part 1/2 -->
    <!-- Home tab -->
    <button mat-button routerLink="{{ rp.SEP + rp.HOME }}">{{ 'navbar.tab.home' | translate }}</button>
    <!-- Bible tab -->
    <button mat-button routerLink="{{ rp.SEP + rp.BIBLE }}">{{ 'navbar.tab.bible' | translate }}</button>
    <!-- User menu tab -->
    <button mat-button [matMenuTriggerFor]="userMenu" *ngIf="userService.isLoggedIn()">
      {{ this.userService.currentUser!.firstName }}
    </button>
    <!-- Logout tab -->
    <button mat-button (click)="logout()" *ngIf="userService.isLoggedIn()">{{ 'navbar.tab.logout' | translate }}</button>
    <!-- Login tab -->
    <button mat-button routerLink="{{ rp.SEP + rp.LOGIN }}" *ngIf="!userService.isLoggedIn()">
      {{ 'navbar.tab.signIn' | translate }}
    </button>
    <!-- Choose language tab -->
    <button mat-button [matMenuTriggerFor]="languageMenu"><mat-icon>language</mat-icon></button>
  </div>

  <!-- Short menu navbar -->
  <div class="short-menu">
    <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
  </div>

</mat-toolbar>

<mat-menu xPosition="before" #menu="matMenu">
  <!-- Add new link here part 2/2 -->
  <!-- Home tab -->
  <button mat-menu-item routerLink="{{ rp.SEP + rp.HOME }}">{{ 'navbar.tab.home' | translate }}</button>
  <!-- Bible tab -->
  <button mat-menu-item routerLink="{{ rp.SEP + rp.BIBLE }}">{{ 'navbar.tab.bible' | translate }}</button>
  <!-- User menu tab -->
  <button mat-menu-item [matMenuTriggerFor]="userMenu" *ngIf="userService.isLoggedIn()">
    {{ this.userService.currentUser!.firstName }}
  </button>
  <!-- Logout tab -->
  <button mat-menu-item (click)="logout()" *ngIf="userService.isLoggedIn()">{{ 'navbar.tab.logout' | translate }}</button>
  <!-- Login tab -->
  <button mat-menu-item routerLink="{{ rp.SEP + rp.LOGIN }}" *ngIf="!userService.isLoggedIn()">
    {{ 'navbar.tab.signIn' | translate }}
  </button>
  <!-- Choose language tab -->
  <button mat-menu-item [matMenuTriggerFor]="languageMenu"><mat-icon>language</mat-icon></button>
</mat-menu>


<!-- User sub-menu -->
<mat-menu xPosition="before" #userMenu="matMenu">
  <!-- User details -->
  <button mat-menu-item routerLink="{{ rp.SEP + rp.USER + rp.SEP + rp.USER_DETAILS }}">
    {{ 'navbar.tab.loggedUser.details' | translate }}
  </button>
  <!-- Change password -->
  <button mat-menu-item routerLink="{{ rp.SEP + rp.USER + rp.SEP + rp.USER_CHANGE_PASSWORD }}">
    {{ 'navbar.tab.loggedUser.changePassword' | translate }}
  </button>
  <!-- See details -->
  <button mat-menu-item *ngIf="this.userService.hasRoleAdmin()">{{ 'navbar.tab.loggedUser.seeAllUsers' | translate }}</button>
</mat-menu>

<!-- Language sub-menu -->
<mat-menu xPosition="before" #languageMenu="matMenu">
  <button mat-menu-item (click)="this.translateService.setLanguage('pl')">{{ 'language.polish' | translate }}</button>
  <button mat-menu-item (click)="this.translateService.setLanguage('en')">{{ 'language.english' | translate }}</button>
</mat-menu>
