<div class="alert alert-info short-page-content" style="margin-top: 20px;">
 Email: admin@gmail.com<br />
 Email: fromtheashestothesky@gmail.com<br />
 Password: admin
</div>

<mat-card class="short-page-content">
    <mat-card-title>
        <h2>{{ 'login.header' | translate }}</h2>
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'login.enterEmail' | translate }}</mat-label>
                    <input matInput type="email" placeholder="{{ 'login.exampleEmail' | translate }}" formControlName="email" required>
                    <mat-error>{{this.getEmailErrorMessage()}}</mat-error>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'login.enterPassword' | translate }}</mat-label>
                    <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" required>
                    <button mat-icon-button matSuffix
                        (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </p>

            <div *ngIf="serverError" class="alert alert-danger" role="alert" style="margin-bottom: 30px;">
                {{ serverError }}
            </div>

            <div>
                <button *ngIf="!loading" mat-flat-button type="submit" color="primary">{{ 'login.approve.button' | translate }}</button>
                <mat-spinner *ngIf="loading" [diameter]="30"></mat-spinner>
            </div>
        </form>
    </mat-card-content>
</mat-card>
